*{
    box-sizing: border-box;
}

:root{
    --navUnderlineColor: rgba(19, 19, 19, 0.1);
    --backgroundColorLight: rgb(241, 240, 240);
    --iconExpandBgColor: rgb(247, 247, 247);
    --iconHover: rgb(233, 233, 233);
    --submitBtnColor: rgb(0, 0, 255);
    --submitBtnHoverColor: rgb(50, 50, 252);
    --unSubBtnColor: rgb(168, 168, 168);
    --unSubHoverColor: rgb(199, 198, 198);
    --linksColor: rgb(180, 180, 180);
    --mainFont: 'Montserrat', sans-serif;
    --upvote: red;
    --downvote: blue;
    --commentBorder: rgb(210,210,210);
}

html, body, #root, #appContainer{
    /* remove width: 100% to make mobile responsive and display: grid on body content*/
    height: 100%;
    /* width: 100%; */
    margin: 0;
    padding: 0;
    border: 0;
    /* background-color: var(--main-background-color); */
    font-family: var(--mainFont);
}

.hide{
    display: none;
}

.show{
    display: inline-block;
}

.fa-times, .fa-file-image-o, .fa-list{
    font-size: 25px;
    cursor: pointer;
    background-color: var(--iconExpandBgColor);
    padding: 7px;
    margin: 0 5px 5px 0;
    border-radius: 5px;
}

.fa-times:hover, .fa-file-image-o:hover, .fa-list:hover{
    background-color: var(--iconHover);
}

/* reusable components */ 

.deletePrompt{
    color: var(--linksColor);
    cursor: pointer
}

.deleteWarning, .deleteWarningYes{
    color: red;
}

.deleteWarning{
    display: flex;
}

.deleteWarningYes, .deleteWarningNo{
    margin: 0 5px;
    cursor: pointer;
}

.deleteWarningNo{
    color: var(--linksColor);
}

/* Nav */ 

.navIconMobile{
    display: none;
}

#navContainer{
    border-bottom: 2px solid var( --navUnderlineColor);    
    padding: 0 5%;
    width: 100%;
}

#navContainer a{
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    /* color: var(--navColor); */
}

#navHeaderContainer{
    display: flex;
}

#navHeader{
    font-size: 40px;
    font-weight: 700;
}
    
.navTabs{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 30px;
}

.navTabs a{
    padding-left: 20px;
}

.navTabs span{
    font-size: 40px;
    vertical-align: middle;
}

.navProfileInfo{
    display: flex;
    align-items: center;
}

.navProfilePic{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

@media (max-width: 900px){
    .navText{
        display: none;
    }
    .navIconMobile{
        display: inline;
    }
    .nav ul{
        padding-left: 0;
    }
    .navTabs a{
        padding-left: 15px;
    }
}


/* Settings */

.settingsContainer{
    width: 100%;
    min-height: 90vh;
    padding-top: 2vh;
    background-color: var(--backgroundColorLight);
}

.settingsHeader{
    font-size: 30px;
    font-weight: 700;
}

.settingsForm{
    background-color: white;
    max-width: 80%;
    width: 50%;
    margin: 0 auto;
    padding: 30px;
}

@media (max-width: 900px){
    .settingsForm{
        max-width: 90%;
        width: 90%;
    }
}

.userImgForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3%;
}

.userImgUploadPreview{
    width: 100px;
    height: 100px;
}

.userDescriptionForm{
    padding: 2% 0;
    display: flex;
    flex-direction: column;
}

.userDescriptionInput{
    resize: none;
    width: 50%;
}

.userDescription{
    display: flex;
}

.btnSettingsSubmit{
    display: block;
    width: auto;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    background-color: var(--submitBtnColor);
    color: white;
    cursor: pointer;
}

.btnSettingsSubmit:hover{
    background-color: var(--submitBtnHoverColor);
}

/* home */ 

.homeContainer{
    width: 100%;
    min-height: 90vh;
    padding-top: 2vh;
    background-color: var(--backgroundColorLight);
}

/* user page */

.sidebarPic{
    width: 50px;
    height: 50px;
}

/* Community Page */ 

.pageContainer{
    width: 100%;
    min-height: 90vh;
    padding-top: 2vh;
    background-color: var(--backgroundColorLight);
}

.pageContentContainer{
    margin: 0 3%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 40px;
    /* width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 30px;
    gap: 30px;
    padding: 20px 0; */
}

.pagePostsContainer, .pageEmptyContainer{
}

/* Sidebar */

.sidebarContainer{
    background-color: white;
    text-align: center;
    height: fit-content;
    padding: 20px 0;
}

@media (max-width: 800px){
    .sidebarContainer{
        display: none;
    }
}

.sidebarTitle{
    font-size: 25px;
    font-weight: 700;
    /* text-decoration: underline; */
}

.sidebarTitle a{
    text-decoration: none;
    color: black;
}

.sidebarContent{

}

.sidebarContent a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
}

.sidebarHomeCommName{
    margin-bottom: 10px;
}

.btnSubscribeComm, .btnUnsubscribeComm{
    margin: 15px 0;
}

.btnSubscribeComm{
    width: auto;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    background-color: var(--submitBtnColor);
    color: white;
}

.btnUnsubscribeComm{
    width: auto;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    background-color: var(--unSubBtnColor);
    color: white;
}

.btnSubscribeComm:hover{
    background-color: var(--submitBtnHoverColor);
}

.btnUnsubscribeComm:hover{
    background-color: var(--unSubHoverColor);
}

.sidebarSubsContainer a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
}

.sidebarSubContainer{
    margin-bottom: 10px;
}

/* Post Score */

#thumbUp, #thumbDown{
    /* font-weight: 900;
    color: red; */
    cursor: pointer;
}

.activeUpvote{
    color: var(--upvote);
    font-weight: 900;
}

.activeDownvote{
    color: var(--downvote);
    font-weight: 900;
}

.postCardScore{
    font-size: 25px;
}

/* Post Card */

.postCardContainer{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.postCardLeftContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

.postCardContainer a{
    text-decoration: none;
}

.postCardContainer a:hover{
    text-decoration: underline;
}

.postCardTitle{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 5px;
}

.postCardTitle a{
    color: blue;
}

.postCardDetails{
    display: flex;
    flex-wrap: wrap;
}

.postCardSubmission{
    color: rgb(66, 65, 65);
}

.postCardSubmission a{
    color: #369;
}

.postCardLinks{
    display: flex;
}

.postCardLinks a{
    font-weight: 700;
    color: var(--linksColor);
    margin-right: 10px;
}

.postCardDescription{
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px;
    width: 100%;
}

/* create post page */ 

.imgUploadPreview{
    height: 200px;
    width: 200px;
}

.descriptionInput{
    resize: none;
}

/* post page */ 

.postPageContainer{
    width: 100%;
    min-height: 90vh;
    padding-top: 2vh;
    background-color: var(--backgroundColorLight);
}

.postPageContent{
    /* display: flex;
    flex-direction: column; */
    background-color: white;
    width: 100%;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.postPageContent a{
    text-decoration: none;
}

.postPageLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.postPageContentDetails{
    display: flex;

}

.postPageTitle{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 5px;
}

.postPageImg{
    max-width: 100%;
    height: auto;
    cursor: pointer;
    margin-bottom: 10px;
}

.postPageDescription{
    font-size: 20px;
}

.postAddCommentContainer{
    margin: 3% 0 1%;
}

.postAddCommentInput{
    width: 50%;
    height: 100px;
    resize: none;
}

.btnSubmitComment{
    display: block;
    width: auto;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    background-color: var(--submitBtnColor);
    color: white;
}

.btnSubmitComment:hover{
    cursor: pointer;
    background-color: var(--submitBtnHoverColor);
}

.postSignInContainer{
    margin: 3% 0 1%;
    padding: 20px;
    border: 1px solid var(--backgroundColorLight);
}

.postSignInContainer span{
    font-size: 20px;
    margin-right: 5%;
}

.postSignInContainer a{
    margin-right: 2%;
    background-color: var(--submitBtnColor);
    color: white;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 10px;
}

/* comment section */ 

.commentSection{
    background-color: white;
    width: 100%;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.commentSectionTitle {
    font-size: 25px;
    padding-bottom: 10px;
}

.commentContainer{
    border: 2px solid var(--commentBorder);
    padding: 10px;
    margin-bottom: 10px;
}

.commentTop{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.commentScoreContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.commentSubmission {
    font-size: 15px;
    color: var(--linksColor);
}

.commentSubmission a{
    text-decoration: none;
    color: blue;
}

.commentSubmission a:hover{
    text-decoration: underline;
}

.commentDescription{
    font-size: 18px;
    padding: 10px 0px;
}

.commentLinks{
    cursor: pointer;
    font-size: 15px;
    font-weight: 100;
    color: var(--linksColor);
    display: flex;
}

/* .commentLinks:hover{
    text-decoration: underline;
} */
.commentReply:hover, .commentEdit:hover{
    text-decoration: underline;
}

.commentReply, .commentEdit{
    margin-right: 10px;
}

.replyContainer{
    margin-left: 1%;
}

.postAddReplyInput{
    width: 50%;
    height: 100px;
    resize: none;
}

.btnReply{
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#btnSubmitReply{
    background-color: var(--submitBtnColor);
    color: white;
    margin: 0 10px 10px 0;
}

#btnSubmitReply:hover{
    background-color: var(--submitBtnHoverColor);
}