*{
    box-sizing: border-box;
}

:root{
    --navUnderlineColor: rgba(19, 19, 19, 0.1);
    --backgroundColorLight: rgb(241, 240, 240);
    --iconExpandBgColor: rgb(247, 247, 247);
    --mainFont: 'Montserrat', sans-serif;
}

html, body, #root, #appContainer{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    /* background-color: var(--main-background-color); */
    font-family: var(--mainFont);
}

.hide{
    display: none;
}

.show{
    display: inline-block;
}

.fa-times, .fa-file-image-o, .fa-list{
    font-size: 25px;
    cursor: pointer;
    background-color: var(--iconExpandBgColor);
    padding: 7px;
    margin: 0 5px 5px 0;
    border-radius: 5px;
}


/* Nav */ 

#navContainer{
    border-bottom: 2px solid var( --navUnderlineColor);    
    padding: 0 5%;
    width: 100%;
}

#navContainer a{
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    /* color: var(--navColor); */
}

#navHeader{
    font-size: 40px;
    font-weight: 700;
}
    
.navTabs{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 30px;
}

.navTabs a{
    padding-left: 20px;
}

.navTabs span{
    font-size: 40px;
    vertical-align: middle;
}

.navProfileInfo{
    display: flex;
    align-items: center;
}

@media (max-width: 900px){
    .navTabs{
        width: 100%;
    }
}

/* Community Page */ 

.pageContainer{
    width: 100%;
    min-height: 90vh;
    padding-top: 2vh;
    background-color: var(--backgroundColorLight);
}

.pageContentContainer{
    margin: 0 3%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 40px;
    /* width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 30px;
    gap: 30px;
    padding: 20px 0; */
}

.pagePostsContainer, .pageEmptyContainer{
}

/* Sidebar */

.sidebarContainer{
    background-color: white;
    text-align: center;
    height: fit-content;
    padding: 20px 0;
}

@media (max-width: 800px){
    .sidebarContainer{
        display: none;
    }
}

.sidebarTitle{
    font-size: 25px;
    font-weight: 700;
    /* text-decoration: underline; */
}

.sidebarTitle a{
    text-decoration: none;
    color: black;
}

.sidebarContent{

}

.sidebarContent a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
}

.sidebarHomeCommName{
    margin-bottom: 10px;
}


/* Post Card */

.postCardContainer{
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    background-color: white;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.postCardContainer a{
    text-decoration: none;
}

.postCardContainer a:hover{
    text-decoration: underline;
}

.postCardTitle{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 5px;
}

.postCardTitle a{
    color: blue;
}

.postCardDetails{
    display: flex;
    flex-wrap: wrap;
}

.postCardSubmission{
    color: rgb(66, 65, 65);
}

.postCardSubmission a{
    color: #369;
}

.postCardLinks{
    
}

.postCardLinks a{
    font-weight: 700;
    color: rgb(77, 76, 76);
}

.postCardDescription{
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px;
    width: 100%;
}

/* create post page */ 

.imgUploadPreview{
    height: 200px;
    width: 200px;
}

/* post page */ 

.postPageContainer{
    width: 100%;
    min-height: 90vh;
    padding-top: 2vh;
    background-color: var(--backgroundColorLight);
}

.postPageContent{
    background-color: white;
    width: 100%;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.postPageContent a{
    text-decoration: none;
}

.postPageTitle{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 5px;
}

.postPageImg{
    max-width: 100%;
    height: auto;
    cursor: pointer;
    margin-bottom: 10px;
}

.postPageDescription{
    font-size: 20px;
}