*{
    box-sizing: border-box;
}

:root{

}

html, body, #root{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    /* background-color: var(--main-background-color); */
    /* font-family: var(--font); */
}